<div class="container">
  <div class="row justify-content-center">
    <h1 class = "text-center">Users</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <ul class="list-group container-fluid">
        <% @users.each do |user| %>
          <li class="list-group-item d-flex">
            <div class="my-auto mr-3">
              <%= fa_icon "user-circle-o 5x" %>
            </div>
            <div>
              <h3 class = "font-weight-bold"><%= user.name %></h3>
              <h5 class = "text-dark">Attended Events: <%= user.attended_events.count%></h5>
              <%= link_to 'View', user, class: "btn btn-primary" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <br>
</div>
</div>
</div>
